body {
	background-image: url("http://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Background1.jpg");
}

h1 {
	color: white !important;
	font-family: 'Heebo', sans-serif;
	text-decoration: underline;
	text-decoration-color: #ffff99;
}

.categories {
	height: 50px;
	width: 100px;
	margin: 10px;
}

#add-category {
	display: inline-block;
	margin: auto;
}

.gifs {
	float: left;
	margin: 12px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	color: black;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	background: linear-gradient(to right, #ffff99, #666633);
	padding: 5px 0 0 0;
}

#newCategoryForm {
	margin: 25px 0 0 0;
	font-family: 'Heebo', sans-serif;
}

#gifSection {
	width: 95%;
	border-left: solid;
	border-color: silver;

}

button {
	background-color: white;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
}

#buttons {
	border-bottom: solid;
	border-color: black;
	margin-bottom: 20px;
	width: 75$;
}

#footer {
	margin-top: 20px;
	color: white;
	font-size: 75%;
}
